<%- include('../partials/header.ejs') %>  
  
<div class="container">
    <div class="centered" style="text-align:center"> 

        <h3><b>How It Works?</b></h3><br>
       <p>Platform to swap your old boardgames with newer boardgames which is available here!</p> 
   
  
    <img src="/images/imgSwapnew.png"  alt="Cinque Terre" style="width:200px; height:150px;">
    </div>
    <br>
    <br>
    <br>
    <br>
</div>

<%- include('../partials/footer.ejs') %> 
