<%- include('../partials/header.ejs') %>  
  
<div class="container">
    <div class="centered" style="text-align:center">
 
        <h2><b>Get in touch with us! </b></h2><br>
        <img src="/images/contact.jpg"  alt="Cinque Terre" style="width:200px; height:150px;">

       <br><h4>
            Address - University of North Carolina Charlotte <br>
            Phone - (xxx)-xxx-xxxx <br>
            Email - kkasarag@uncc.edu <br>
    </h4> 
    </div>
    <br>
    <br>
    <br>
    <br>
    
</div>

<%- include('../partials/footer.ejs') %> 
