<%- include('../partials/header.ejs') %>  
  
<div class="container">
    <div class="centered" style="text-align:center">
 
        <h3>Get in touch with us! </h3><br />
        <p>
            Address - University of North Carolina Charlotte <br />
            Phone - (xxx)-xxx-xxxx <br/>
            Email - kkasarag@uncc.edu <br />
        </p>
    </div>
    <br>
    <br>
    <br>
    <br>
</div>

<%- include('../partials/footer.ejs') %> 
