<%- include('./partials/header.ejs') %>  


<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Trades</a>
        <a class="navbar-brand" href="index.html">Home</a>
          <a class="navbar-brand" href="#">About</a>
          <a class="navbar-brand" href="#">Contact Us</a>
    </div>
  </div>
</nav>  
 
<div class="container">
 
    <div class="row">
        <h4><b>Strategy Games</b></h4>
      <div class="col-sm-3">
        <div class="thumbnail">
            <a href="trade.html">
            <img src="../images/A_Game_of_Thrones.jpg" alt="Lights" style="width:50%">
            <div class="caption" style="text-align: center;">
              <p>A Game of Thrones</p>
            </div>
          </a>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="thumbnail">
          <a href="trade.html">
            <img src="../images/Kingdom_Builder.webp" alt="Nature" style="width:50%">
            <div class="caption" style="text-align: center;">
              <p>Kingdom Builder</p>
            </div>
          </a>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="thumbnail">
            <a href="trade.html">  
            <img src="../images/Cave_Troll_Fantasy.webp" alt="Fjords" style="width:50%">
            <div class="caption" style="text-align: center;">
              <p>Cave Troll</p>
            </div>
          </a>
        </div>
      </div>

      <div class="col-sm-3">
        <div class="thumbnail">
          <a href="trade.html">
            <img src="../images/click_blue.jpg" alt="Fjords" style="width:50%">
            <div class="caption" style="text-align: center;">
              <p>Click for more info</p>
            </div> 
            </a>
        </div>
      </div>

    </div>

    <div class="row">
        <h4><b>Party Games</b></h4>
         <div class="col-sm-3">
           <div class="thumbnail">
               <a href="trade.html">
               <img src="../images/The_Resistance_Second.webp" alt="Lights" style="width:50%">
               <div class="caption" style="text-align: center;">
                 <p>The Resistance</p>
               </div>
             </a>
           </div>
         </div>
         <div class="col-sm-3">
           <div class="thumbnail">
             <a href="trade.html">
               <img src="../images/Cards_Against_Humanity.webp" alt="Nature" style="width:50%">
               <div class="caption" style="text-align: center;">
                 <p>Cards Against Humanity</p>
               </div>
             </a>
           </div>
         </div>
         <div class="col-sm-3">
           <div class="thumbnail">
               <a href="trade.html">  
               <img src="../images/dixit.webp" alt="Fjords" style="width:50%">
               <div class="caption" style="text-align: center;">
                 <p>Dixit</p>
               </div>
             </a>
           </div>
         </div>
   
         <div class="col-sm-3">
           <div class="thumbnail">
            <a href="trade.html">
              <img src="../images/click_blue.jpg" alt="Fjords" style="width:50%">
              <div class="caption" style="text-align: center;">
                <p>Click for more info</p>
              </div> 
              </a> 
           </div>
         </div>
   
       </div>



       <div class="row">
        <h4><b>Thematic Games</b></h4>  
         <div class="col-sm-3">
           <div class="thumbnail">
               <a href="trade.html">
               <img src="../images/Elder_Sign.webp" alt="Lights" style="width:50%">
               <div class="caption" style="text-align: center;">
                 <p>Elder Sign</p>
               </div>
             </a>
           </div>
         </div>
         <div class="col-sm-3">
           <div class="thumbnail">
             <a href="trade.html">
               <img src="../images/Munchkin.webp" alt="Nature" style="width:50%">
               <div class="caption" style="text-align: center;">
                 <p>Munchkin</p>
               </div>
             </a>
           </div>
         </div>
         <div class="col-sm-3">
           <div class="thumbnail">
               <a href="trade.html">  
               <img src="../images/Nothing_Personal.webp" alt="Fjords" style="width:50%">
               <div class="caption" style="text-align: center;">
                <p>Nothing Personal</p>
               </div>
             </a>
           </div>
         </div>
   
         <div class="col-sm-3">
           <div class="thumbnail">
            <a href="trade.html">
              <img src="../images/click_blue.jpg" alt="Fjords" style="width:50%">
              <div class="caption" style="text-align: center;">
                <p>Click for more info</p>
              </div> 
              </a>
           </div>
         </div>
   
       </div>

  </div>
<br>
<br>

<%- include('./partials/footer.ejs') %> 
