<%- include('./partials/header.ejs') %>  


<div class = "content">
  <h3>All stories listed here!</h3> 

  <%if(items.length){%>
    <%items.forEach(item=>{%>
      <a href="/trades/<%=item.id%>"><p><%=item.name%></p></a>
  <%});
  }else{%>
  <p>There are no stories to display!</p>
  <%}%>

  <br>
  <br>
 
</div>

<%- include('./partials/footer.ejs') %> 
