<%- include('./partials/header.ejs') %>
    <div class = "content" style="height: 550px;" >
        <div class="centered" style="text-align:center">
            <h3><%= error.status%>Error</h3> 
            <p><%= error.message%></p>
            <img src="/images/error_img.png">
        </div>
    </div>
    <br>
    <br>

<%- include('./partials/footer.ejs') %>    
   