<div class="footer"  >

  <!-- Footer Elements -->


    <!-- Grid row-->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-12 py-5">
        <div class="mb-5 flex-center" style="text-align: center;">

         
              <a class="nav-link"> 
                  <img src="/images/facebook.png" alt="facebook" >
              </a>
         
              <a class="nav-link"> 
                  <img src="/images/whatsapp.png"  alt="whatsapp" >
              </a>
         
              <a class="nav-link"> 
              <img src="/images/twitter.png" alt="twitter" >
              </a>
         
        
        </div>
      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row-->

  
  <!-- Footer Elements -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">&copy;2022 Board game app Swap Inc.
  </div>
  <!-- Copyright -->

</div>
                  
</body>
</html>