<!DOCTYPE html>
<html lang="en">
<head>
  <title>Game Swap</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link  href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <script src="/bootstrap/jquery/jquery.min.js"></script>
  <script src="/bootstrap/js/bootstrap.min.js"></script>
  <link property="stylesheet" href="/bootstrap/css/style.css">

</head>
<body style="height: auto;">

<div class="header">
<div class="row">
 <div class="col-sm-8">
  <a href="/"> <img src="/images/logo.png" class="img-circle" alt="Cinque Terre"> </a>
  </div>
  <div class="col-sm-4">
  <div class=".btn-group" style="text-align: right;">
    <a href="/new" class="btn btn">Start Trading!</a>
    <a href="/new" class="btn btn">Login</a>
    <a href="/new" class="btn btn">Sign up</a>
  </div>
  </div>
</div>
</div>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/trades">Trades</a>
        <a class="navbar-brand" href="/">Home</a>
          <a class="navbar-brand" href="/about">About</a>
          <a class="navbar-brand" href="/contact">Contact Us</a>
    </div>
  </div>
</nav>  